/* normalize styles */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Base styles styles */
main, header {
  background: #eeeeee;
  background: -moz-linear-gradient(left, #eeeeee 0%, #9e9e9e 0%, #f9f9f9 34%, white 44%, white 53%, #eeeeee 68%, #939393 100%);
  background: -webkit-linear-gradient(left, #eeeeee 0%, #9e9e9e 0%, #f9f9f9 34%, white 44%, white 53%, #eeeeee 68%, #939393 100%);
  background: linear-gradient(to right, #eeeeee 0%, #9e9e9e 0%, #f9f9f9 34%, white 44%, white 53%, #eeeeee 68%, #939393 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#939393',GradientType=1 ); }

label {
  font-size: 17px;
  margin: 4px; }

textarea {
  padding: 10px 1px 45px 30px;
  color: #8b8b8b;
  border-radius: 5px; }

input[type="submit"] {
  padding: 7px;
  color: #2196f3;
  border-radius: 5px; }

input[type="submit"]:hover {
  padding: 7px;
  color: #35383a;
  background-color: #e3e3e3;
  border-radius: 5px; }

/*header style*/
.main-header h1 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  padding: 40px 0 40px;
  letter-spacing: 0.02em; }
  .main-header h1 a {
    text-decoration: none;
    color: #428fc6; }

.navbar {
  border-radius: 50px;
  background-color: #f7f7f7;
  border: 0px;
  box-shadow: 0px 6px 10px #6c6c6c;
  margin: 0; }
  .navbar .nav {
    list-style: none;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%; }
    .navbar .nav li {
      width: 12.5%;
      text-align: center; }
      .navbar .nav li:hover {
        background-color: #47474a;
        color: #d2f9fe; }
      .navbar .nav li a {
        color: #4c4c4c; }
        .navbar .nav li a:hover {
          color: #fff; }

footer {
  background-color: #010810;
  color: #d2f9fe;
  padding-bottom: 90px; }
  footer h2 {
    text-transform: uppercase; }
    footer h2 a {
      color: #d2f9fe;
      text-decoration: none; }
  footer .copyright {
    margin-top: 28px;
    font-size: 14px;
    letter-spacing: 0.03em; }
  footer .Follow {
    margin-top: 10px; }
    footer .Follow ul {
      list-style: none;
      padding: 0px; }
      footer .Follow ul li {
        display: inline-block; }

.website-logo {
  text-decoration: none !important;
  color: #d2f9fe; }

/* Module Files*/
.primary {
  color: #1c76b3; }

.black-shade {
  color: #8b8b8b; }

/*section next-generation-mobile*/
.galaxy img {
  width: 100%;
  height: 510px; }

.content {
  padding-top: 85px; }
  .content h4 {
    margin: 10px 0px 0px;
    color: #a1a1a1;
    font-size: 32px; }
  .content h3 {
    margin: 0px;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 0.05em; }
    .content h3 span {
      text-transform: uppercase;
      font-size: 97px;
      text-shadow: 5px 5px 10px #fff, 0 0 0.3em #fff; }
  .content p {
    padding: 20px 60px 55px 0px;
    letter-spacing: 0.02em;
    font-size: 25px;
    color: #adadaf; }
  .content .img-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: relative; }
    .content .img-list li {
      position: absolute;
      top: 0;
      height: 36px;
      display: block; }
    .content .img-list a {
      height: 36px;
      display: block; }
    .content .img-list .iphone {
      background: url(../images/logo.png) 0, 0;
      left: 0px;
      width: 86px; }
    .content .img-list .android {
      background: url(../images/logo.png) -86px, 0;
      left: 88px;
      width: 119px; }
    .content .img-list .blackberry {
      background: url(../images/logo.png) -205px, 0;
      left: 209px;
      width: 123px; }
    .content .img-list .windows {
      background: url(../images/logo.png) -328px, 0;
      left: 333px;
      width: 115px; }

/* section whats-for-you */
.whats-for-you {
  background: url(../images/headmirror.png) no-repeat;
  background-position: left;
  background-size: cover;
  position: relative;
  box-shadow: 0px 6px 10px #6c6c6c; }
  .whats-for-you h2 {
    margin: 0px;
    padding: 45px 0px 0px 65px;
    font-size: 85px; }
  .whats-for-you .lorem {
    width: 60%;
    padding: 35px 10px 30px 65px;
    color: #5d5959;
    font-family: times-new-roman monospace;
    font-size: 19px;
    text-shadow: 1px 1px 2px #9a9696;
    display: inline-block;
    letter-spacing: 0.05px; }
    .whats-for-you .lorem p {
      margin: 0 0 20px; }
    .whats-for-you .lorem a {
      display: inline-block; }
      .whats-for-you .lorem a img {
        width: 150px; }
  .whats-for-you .whats-img {
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 30px; }
    .whats-for-you .whats-img img {
      height: 420px;
      width: 350px; }

/* styles of how-to section */
.how-to {
  margin-top: 50px; }
  .how-to h2 {
    font-size: 85px;
    text-shadow: 5px 5px 10px #fff, 0 0 0.3em #fff; }
    .how-to h2 img {
      width: 85px; }
    .how-to h2 span {
      padding-left: 30px; }
  .how-to .container {
    padding: 0px 125px;
    color: #5d5959;
    font-family: times-new-roman monospace;
    font-size: 18px;
    text-shadow: 1px 1px 2px #9a9696;
    letter-spacing: 0.05px; }
    .how-to .container .gpsimage {
      text-align: center;
      padding: 50px 0px; }
    .how-to .container .singleline {
      width: 100%;
      text-align: center; }
      .how-to .container .singleline span {
        display: block;
        padding-bottom: 10px; }

/* section whats-new */
.whats-new h2 {
  text-align: center;
  font-size: 85px;
  letter-spacing: 0.05em;
  text-shadow: 5px 5px 10px #fff, 0 0 0.3em #fff;
  margin: 30px; }
.whats-new .row {
  display: flex;
  justify-content: center;
  align-items: center; }
.whats-new .iphonedemo .thumbnail {
  background: none;
  border: none; }
  .whats-new .iphonedemo .thumbnail .caption {
    padding: 0px 20px 0px 20px; }
    .whats-new .iphonedemo .thumbnail .caption .readbutton {
      text-align: left; }
  .whats-new .iphonedemo .thumbnail .middle-caption {
    padding: 0px 40px 0px 81px; }
  .whats-new .iphonedemo .thumbnail a img {
    margin: 0px; }

/* section get-it-anywhere */
.get-it-anywhere {
  margin: 50px 0px 130px; }
  .get-it-anywhere img {
    width: 100%;
    margin-bottom: 30px; }
  .get-it-anywhere .downloadimg-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: relative; }
    .get-it-anywhere .downloadimg-list li {
      position: absolute;
      top: 0;
      height: 76px;
      display: block; }
    .get-it-anywhere .downloadimg-list a {
      height: 76px;
      display: block; }
    .get-it-anywhere .downloadimg-list .d_iphone {
      background: url(../images/dw.png) 0, 0;
      left: 145px;
      width: 185px; }
    .get-it-anywhere .downloadimg-list .d_android {
      background: url(../images/dw.png) -185px, 0;
      left: 330px;
      width: 202px; }
    .get-it-anywhere .downloadimg-list .d_blackberry {
      background: url(../images/dw.png) -386px, 0;
      left: 531px;
      width: 225px; }
    .get-it-anywhere .downloadimg-list .d_windows {
      background: url(../images/dw.png) -610px, 0;
      left: 754px;
      width: 201px; }

/* section contact */
.contact {
  background-color: #2a9cde;
  color: #d2f9fe; }
  .contact .col-md-3 h3 {
    font-size: 30px;
    box-shadow: 0px 1px #656161;
    padding-bottom: 8px;
    margin: 20px 90px 10px 0px; }
  .contact .col-md-3 ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0px; }
    .contact .col-md-3 ul li {
      padding: 5px 0px; }
      .contact .col-md-3 ul li a {
        font-weight: 600;
        color: #d2f9fe;
        text-decoration: none; }
  .contact .col-md-5 h3 {
    font-size: 30px;
    box-shadow: 0px 1px #656161;
    padding-bottom: 8px;
    margin: 20px 40px 10px 0px; }
  .contact .col-md-5 .addr {
    padding: 0px; }
    .contact .col-md-5 .addr address {
      margin: 0px; }
      .contact .col-md-5 .addr address p {
        margin-bottom: 5px; }
    .contact .col-md-5 .addr .number p {
      margin-bottom: 5px; }
    .contact .col-md-5 .addr .mail p {
      margin-bottom: 5px; }
  .contact .col-md-5 .map {
    width: 51.333%; }
  .contact .form h3 {
    font-size: 30px;
    box-shadow: 0px 1px #656161;
    padding-bottom: 8px;
    margin: 20px 40px 10px 0px; }

.text-area {
  padding: 5px 0px 5px;
  margin-bottom: 5px;
  color: #8b8b8b;
  border-radius: 5px; }

.bannerSeperator {
  width: 100%;
  text-align: center; }

.cirles {
  width: 100%;
  text-align: center;
  margin-top: 10px; }

.top {
  margin-top: 15px; }

.howtoborder {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
