footer{
	background-color: #010810;
	color: $light;
	padding-bottom: 90px;
	h2{
		text-transform: uppercase;
		a{
			color: $light;
			text-decoration: none;
			
		}
	}

	.copyright{
		margin-top: 28px;
		font-size: 14px;
		letter-spacing: 0.03em;
	}

	.Follow{
		margin-top:10px; 
		ul{
			list-style: none;
			padding: 0px;
			li{
					display: inline-block;
				}
			
		}
	}
}

.website-logo{
	text-decoration: none !important;
	color: $light;
}