/*header style*/
.main-header{
	h1{
		text-align: center;
		font-family: 'Nunito', sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 40px;
		margin: 0;
		padding: 40px 0 40px;
		letter-spacing: 0.02em;
		a{
			text-decoration : none;
			color:#428fc6;
		}
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{

}

.navbar{
	border-radius: 50px;
	background-color: #f7f7f7;
	border:0px;
	box-shadow: 0px 6px 10px #6c6c6c;
	margin:0;
		.nav{
			list-style: none;
			font-family: $nav-font ;
			text-transform: uppercase;
			font-weight: bold;
			width: 100%;

				li{
					width: 12.5%;
					text-align: center;
					&:hover{
						background-color: #47474a;
						color:$light;
						}	

						a{
							color:#4c4c4c;
							&:hover{
								color:#fff;
							}
						}
				   }
				 
			}
		
		}