main,header{
	background: rgb(238,238,238);
	background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(158,158,158,1) 0%, rgba(249,249,249,1) 34%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 53%, rgba(238,238,238,1) 68%, rgba(147,147,147,1) 100%);
	background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(158,158,158,1) 0%,rgba(249,249,249,1) 34%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(238,238,238,1) 68%,rgba(147,147,147,1) 100%);
	background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(158,158,158,1) 0%,rgba(249,249,249,1) 34%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(238,238,238,1) 68%,rgba(147,147,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#939393',GradientType=1 );
}

label{
	font-size:17px;
	margin: 4px;
}

textarea{
	    padding: 10px 1px 45px 30px;
	    color: $black-shade;
	    border-radius: 5px;
}

input[type="submit"]{
	padding: 7px;
	color: #2196f3;
	border-radius: 5px;
}

input[type="submit"]:hover{
	padding: 7px;
	color: #35383a;
	background-color:#e3e3e3;
	border-radius: 5px;
}