$primary : #1c76b3;
$secondary : #7d7d7d;
$light : #d2f9fe;
$black-shade :#8b8b8b;
$nav-font :'PT Sans', sans-serif;
$section-font : 'Archivo Narrow', sans-serif;
$fsize:85px;
$shadow : 5px 5px 10px #fff,0 0 0.3em #fff;