.primary{
	color: $primary;
}
.black-shade{
		color: $black-shade;
	}

/*section next-generation-mobile*/
.galaxy{
	img{
		width: 100%;
		height: 510px;
	}
}

.content{
	padding-top: 85px;
	h4{
		margin: 10px 0px 0px;
		color: #a1a1a1;
		font-size: 32px;	
	}
	h3{
		margin: 0px;
		font-size: 55px;
		font-weight: 500;
		letter-spacing: 0.05em;

		span{
			text-transform: uppercase;
			font-size: 97px;
			text-shadow: $shadow;
		}
	}

	p{
		padding: 20px 60px 55px 0px;;
	    letter-spacing: 0.02em;
	    font-size: 25px;
	    color: #adadaf;
	}

	.img-list{
		list-style: none;
		padding: 0px;
		margin: 0px;
		position: relative;
		li{
			position: absolute;
			top: 0;
			height: 36px;
			display:block;
		}
		a{
			height: 36px;
			display:block;
		}

		.iphone{
			background:url(../images/logo.png) 0,0; 
			left: 0px;
			width: 86px;
		}

		.android{
			background:url(../images/logo.png) -86px,0; 
			left: 88px;
			width: 119px;
		}

		.blackberry{
			background: url(../images/logo.png) -205px, 0;
			left: 209px;
			width: 123px;
		}

		.windows{
			background:url(../images/logo.png) -328px,0; 
			left: 333px;
			width: 115px;
		}
	}

}


/* section whats-for-you */
.whats-for-you{
	background: url(../images/headmirror.png) no-repeat;
	background-position: left;
	background-size: cover;
	position: relative;
	box-shadow: 0px 6px 10px #6c6c6c;
	h2{
		margin: 0px;
		padding: 45px 0px 0px 65px;
		font-size: $fsize;
		
	}
	.lorem{
		width: 60%;
		padding: 35px 10px 30px 65px;
		color: #5d5959;
		font-family: times-new-roman monospace;
		font-size: 19px;
		text-shadow: 1px 1px 2px #9a9696;
		display: inline-block;
		letter-spacing: 0.05px;

			p{
			    margin: 0 0 20px;
			}
			a{
				display: inline-block;
				img{
					width: 150px;
				}
			}
		}

	.whats-img{
		display: inline-block;
		position: absolute;
		right: 13px;
		top: 30px;
		img{
			height: 420px;
			width: 350px;
		}
	}
}


/* styles of how-to section */
.how-to{
	margin-top: 50px;
	h2{
		font-size: $fsize;
		text-shadow: $shadow;
		img{
			width: $fsize;
		}
		span{
			padding-left: 30px;

			}
		}
	.container{
		padding: 0px 125px;
		color: #5d5959;
		font-family: times-new-roman monospace;
		font-size: 18px;
		text-shadow: 1px 1px 2px #9a9696;
		letter-spacing: 0.05px;

		.gpsimage{
			text-align: center;
			padding: 50px 0px;
		}

		.singleline{
			width: 100%;
			text-align: center;
			span{
				display: block;
				padding-bottom: 10px;
			}
		}
	}	
}


/* section whats-new */

.whats-new{
	h2{
		text-align: center;
		font-size: $fsize;
		letter-spacing: 0.05em;
		text-shadow: $shadow;
		margin: 30px;
	}

	.row{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.iphonedemo{
		.thumbnail{
			background: none;
			border: none;

			.caption{
				padding: 0px 20px 0px 20px;
				.readbutton{
					text-align: left;
				}
			}

			.middle-caption{
				padding: 0px 40px 0px 81px;
			}

			a{
				img{
					margin: 0px;
				}
			}
		}
	}
}

/* section get-it-anywhere */
.get-it-anywhere{
	    margin: 50px 0px 130px;
	img{
		width: 100%;
		margin-bottom: 30px;

	}

	.downloadimg-list{
		list-style: none;
		padding: 0px;
		margin: 0px;
		position: relative;
		li{
			position: absolute;
			top: 0;
			height: 76px;
			display:block;
		}
		a{
			height: 76px;
			display:block;
		}

		.d_iphone{
			background:url(../images/dw.png) 0,0; 
			left: 145px;
			width: 185px;
		}

		.d_android{
			background:url(../images/dw.png) -185px,0; 
			left: 330px;
			width: 202px;
		}

		.d_blackberry{
			background: url(../images/dw.png) -386px, 0;
			left: 531px;
			width: 225px;
		}

		.d_windows{
			background:url(../images/dw.png) -610px,0; 
			left: 754px;
			width: 201px;
		}
	}
}

/* section contact */

.contact{
	background-color: #2a9cde;
	color: $light;

	.col-md-3{
		h3{
			font-size: 30px;
			box-shadow: 0px 1px #656161;
			padding-bottom: 8px;
			margin: 20px 90px 10px 0px;
		}

		ul{
			list-style: none;
			text-transform:uppercase;
			padding: 0px;
			li{
				padding: 5px 0px;

				a{
					font-weight: 600;
					color: $light;
					text-decoration: none;
				}
			}
		}
	}


	.col-md-5{
		h3{
			font-size: 30px;
			box-shadow: 0px 1px #656161;
			padding-bottom: 8px;
			margin: 20px 40px 10px 0px;
		}

		.addr{
			padding: 0px;
			address{
				margin: 0px;
				p{
					margin-bottom: 5px;
				}
			}	
			 .number{
				p{
					margin-bottom: 5px;
				}
				}
			.mail{
				p{
					margin-bottom: 5px;
				}
			}		
			
		}

		.map{
			width: 51.333%;
		}
	}


	.form{

		h3{
			font-size: 30px;
			box-shadow: 0px 1px #656161;
			padding-bottom: 8px;
			margin: 20px 40px 10px 0px;
		}

		textarea{
			row:2;
		}
	}
}



.text-area{
	padding: 5px 0px 5px;
	margin-bottom: 5px;
	color: $black-shade;
	border-radius: 5px;
}
